server {
    listen 80;

    root /var/www/html;
    index index.html;

    location ~ ^(?<app_base>${BASE_PATH}/[a-zA-Z0-9-]+)(/.*)?$ {
        try_files $uri $uri/ $app_base/index.html;
    }

}